body {
    margin: 0 auto;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

.head img {
    width: 90px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: wheat;
    padding-left: 150px;
    padding-right: 150px;

}

.head_sec {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#main {
    padding-left: 150px;
    padding-right: 150px;
    height: 80vh;
    background-image: url('');
    background-color: rgb(17, 43, 128);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.center {
    margin: 0 auto;
}

.middle {
}

.middle p {
    color: aliceblue;
}

#dari {
    text-transform: uppercase;
    text-align: center;
    font-size: calc(1vw + 40px);
}

#vashfond {
    text-transform: uppercase;
    text-align: center;
    font-size: calc(1vw + 20px);
}

.pomosh {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.pomosh button {
    border: none;
    border-radius: 10px;
    font-size: calc(1vw + 10px);

}

.button_pomosh {
    background-color: greenyellow;
}

.button_join {
    background-color: rgb(210, 192, 192);
}

#about {
    text-align: center;
}
#aboutfond {
    font-size: calc(1vw + 30px);
}
.about_sec {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#nash {
    width: 50%;
    font-size: calc(1vw + 5px);
    text-align: start;
}

.nash_photos {
    width: calc(1vw + 40%);
    display: block;
}

.nash_photos img{
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button_pomosh2 {
    background-color: greenyellow;
    border-radius: 10px;
    border: none;
}

#friends{
    text-align: center;
}
#druzya {
    font-size: calc(1vw + 40px);
}
.person img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
.person {
    display: block;
}
#name {
    color: rgb(0, 94, 77);
}
.people {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
}


@media(max-width: 900px) {
    header {
    }

    #main {
        padding: 0;
    }

    header {
        display: none;
    }

    .about_sec {
    }
    .people {
        gap: 50px;
    }
    
}